/* src/styles/background.css */
/* Background system disabled completely */

.bgWrap {
  display: none !important;
}

.bgBase,
.bgGrid,
.bgLines,
.bgParticles,
.bgVignette {
  display: none !important;
}
